body {
  background: #0a0f1a;
  margin: 0;
  color: #dbeafe;
  font-family: Inter, sans-serif;
}

.admin-wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #111827;
  padding: 25px;
  box-shadow: 0 0 15px #003b70;
}

.sidebar h2 {
  color: #00aaff;
}

.sidebar ul {
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}

.sidebar li {
  margin-bottom: 18px;
}

.sidebar a,
#logoutBtn {
  color: #7da2c8;
  text-decoration: none;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 30px;
}

#adminContent {
  margin-top: 20px;
  background: #0f172a;
  padding: 20px;
  border-radius: 12px;
  min-height: 300px;
}
